        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #b97979;
        }

        .toolbar {
            margin-bottom: 10px;
        }

        canvas {
            border: 1px solid #ccc;
            background-color: rgb(97, 32, 32);
            cursor: crosshair;
        }

        .color-picker {
            margin-right: 10px;
        }